[Unit]
Description=Copy TLBB skin into user profile directory
DefaultDependencies=no
Before=local-fs.target shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "if [ ! -d /storage/.kodi/addons/skin.tlbb -o /usr/share/kodi/addons/skin.tlbb -nt /storage/.kodi/addons/skin.tlbb ]; then mkdir -p /storage/.kodi/addons; cp -PR /usr/share/kodi/addons/skin.tlbb /storage/.kodi/addons/ &>/dev/null; fi"
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
